*{
	margin: 0;
	padding: 0;
}

body{
  background: -moz-radial-gradient(center, ellipse cover, rgba(132,146,158,1) 0%, rgba(176,182,186,0.25) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(132,146,158,1) 0%,rgba(176,182,186,0.25) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(132,146,158,1) 0%,rgba(176,182,186,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84929e', endColorstr='#73b0b6ba',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  /*background-image: url('../img/bg.png');
  background-size: cover;*/
	/*height: 1000px;*/
	display: flex;
	align-items: center;
  font-family: 'Roboto', sans-serif;
}

a{
	color: #fff !important;
}

#user-img{
    margin: auto;
    display: block;
    position: relative;
    top: -6em;
    max-width: 220px;
    max-height: 220px;
    border: 8px solid #fff;
    border-radius: 50%;
}

#details-img{
	max-width: 120%;
  max-height: 100%;
}

#more{
	position: absolute;
	top: 3%;
	right: 3%;
	animation: bounce 1s infinite;
	-webkit-animation: bounce 1s infinite;
	-moz-animation: bounce 1s infinite;
	-o-animation: bounce 1s infinite;

}

.card-content p{
  padding:30px 30px 15px 30px;
  font-weight:300 !important;
  font-size: 14px;
  text-align: left;
}

@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateX(0);}
 40% {-webkit-transform: translateX(-10px);}
 60% {-webkit-transform: translateX(-5px);}
}

@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateX(0);}
 40% {-moz-transform: translateX(-10px);}
 60% {-moz-transform: translateX(-5px);}
}

@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateX(0);}
 40% {-o-transform: translateX(-10px);}
 60% {-o-transform: translateX(-5px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
 40% {transform: translateX(-10px);}
 60% {transform: translateX(-5px);}
}


#centered{
	text-align: center;
	margin-top: -6em;
}

h4, h5 {
	font-weight: 700 !important;
}

h6 {
  font-weight: 200 !important;
}

hr{
	 margin-left: 25%;
	 margin-right: 25%;
	 height:0;
   border:0;
   border-top:1px solid #607d8b;
   margin-bottom: 2em ;
   margin-top: 1em;
}

#inline{
	display: inline-block;
}

#inline li{
	float: left;
	margin-right: 1em;
}

#inline li a img{
	max-width: 30px;
	max-height: 30px;
	transition: all 1.5s ease-in;
}

.card-reveal{
	background: url("../img/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#titles-back{
	padding-top: 25%;
}

tr:hover{
	cursor: pointer;
}

.card{
	box-shadow: 0 7px 38px rgba(0,0,0,0.35) !important;
}

#info{
  width: 100%;
  color: #fff;
  font-weight:300;
  font-size: 14px;
}
